.schedule__wrapper {
    display: grid;
    grid-template-columns: 1fr 60%;
    grid-column-gap: 40px;
}

.schedule__subtitle {
    font-family: var(--evolventa-ragular-font), sans-serif;
    font-size: 1.375rem;
    text-transform: uppercase;
    color: #FFF200;
    text-align: center;
    margin-bottom: 30px;
}

.schedule__salon-btn-wrapper {
    display: grid;
    grid-row-gap: 20px;
}

.schedule__salon-btn-wrapper .site-btn {
    width: 100%;
    background: unset;
    color: #FFF200;
    font-family: var(--evolventa-ragular-font), sans-serif;
    font-size: 1.375rem;
    text-transform: none;
    border: solid 1px #E32C72;
    height: 4.75rem;
    max-width: 380px;
}

.schedule__salon-btn-wrapper .site-btn.active,
.schedule__salon-btn-wrapper .site-btn:hover {
    background-color: #8A4170;
    border: unset;
}

.schedule__book-visit .schedule__subtitle {
    color: #E32C72;
}

.schedule__book-visit .site-btn {
    width: 100%;
    background: #FFF200;
    color: #381B3F;
    font-family: var(--shantell-sans-font), cursive;
    font-size: 2.1rem;
    height: 4.75rem;
}

.schedule__book-visit .site-btn:hover {
    background-color: #8a4170;
}

.schedule__book-visit.mobile {
    display: none;
}

.schedule__choose-salon {
    display: flex;
    flex-direction: column;
}

.schedule__book-visit {
    margin-top: auto;
}

.schedule__days-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedule__days-list .site-btn {
    width: 4.5rem;
    height: 5rem;
    background: unset;
    color: #FFF200;
    font-family: var(--evolventa-ragular-font), sans-serif;
    font-size: 1.375rem;
    text-transform: none;
    border: solid 1px #E32C72;
    position: relative;
}

.schedule__days-list .site-btn.active,
.schedule__days-list .site-btn:hover {
    background-color: #8A4170;
    border: unset;
}

.schedule__days-list .site-btn.active:after {
    content: "";
    display: block;
    position: absolute;
    width: 45px;
    height: 50px;
    background-image: url(../../public/img/triangle-right.png);
    background-size: auto 50px;
    z-index: 1;
    right: -19px;
    bottom: -22px;
}

.schedule__masters-wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.schedule .master-title {
    color: #E32C72;
    font-family: var(--shantell-sans-font), cursive;
    font-size: 1.56rem;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 1200px) {
    .schedule__wrapper {
        display: grid;
        grid-template-columns: 1fr 55%;
        grid-column-gap: 40px;
    }

    .schedule__days-list .site-btn.active:after {
        width: 27px;
        height: 30px;
        background-size: auto 30px;
        right: -8px;
        bottom: -13px;
    }
}

@media (max-width: 992px) {
    .schedule__subtitle {
        margin-bottom: 20px;
    }

    .schedule__book-visit.desktop {
        display: none;
    }

    .schedule__book-visit.mobile {
        display: grid;
        grid-row-gap: 40px;
    }

    .schedule__wrapper {
        grid-template-columns: 1fr;
    }

    .schedule__salon-btn-wrapper .site-btn {
        max-width: 90%;
    }

    .schedule__salon-btn-wrapper {
        justify-items: center;
        margin-bottom: 50px;
    }

    .schedule__book-visit .schedule__subtitle {
        order: 2;
    }

    .schedule__choose-day {
        margin-bottom: 60px;
    }

    .schedule__book-visit .site-btn {
        max-width: 330px;
        justify-self: center;
        position: relative;
    }

    .schedule__book-visit .site-btn img {
        position: absolute;
        left: -17px;
        top: -20px;
    }
}

@media (max-width: 576px) {
    .schedule__days-list .site-btn {
        width: 3.6rem;
        height: 4rem;
        font-size: 1.2rem;
    }

    .schedule__salon-btn-wrapper .site-btn{
        font-size: 1.3rem;
    }

    .schedule__book-visit .site-btn img{
        left: 5px;
    }
}

