.book-call {
    border: solid 1px #E32C72;
    border-radius: 20px;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 50px;
}

.book-call__heading {
    text-align: center;
    font-family: var(--shantell-sans-font), cursive;
    font-size: 2.1rem;
    color: #FFF200;
}

.book-call__form-wrapper {
    margin: 40px 0;
}

.book-call .site-btn {
    font-size: 2.1rem;
    padding: 0.6rem 2.1rem;
}

.book-call .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px){
    .book-call .input-section{
        margin-bottom: 50px;
    }

    .book-call__form-wrapper{
        margin: 0 0;
    }
}

@media (max-width: 768px){
    .book-call{
        margin-top: 80px;
    }
}

@media (max-width: 576px){
    .book-call{
        background-image: url("../../public/img/stripe.png");
        background-repeat: no-repeat;
        background-size: 70%;
        background-position-y: 10px;
    }
}