.book-call {
    border: solid 1px #E32C72;
    border-radius: 20px;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 50px;
}

.book-call__heading {
    text-align: center;
    font-family: var(--shantell-sans-font), cursive;
    font-size: 35px;
    color: #FFF200;
}

.book-call__form-wrapper {
    margin: 40px 0;
}

.book-call .input-section {
    display: grid;
}

.book-call label {
    font-family: var(--evolventa-ragular-font), sans-serif;
    font-size: 18px;
    color: #EFBED4;
}

.book-call input {
    background: none;
    border: none;
    border-bottom: solid 1px #FFF200;
    padding: 10px;
    color: #EFBED4;
    font-size: 30px;
    font-family: var(--evolventa-ragular-font), sans-serif;
}

.book-call .site-btn {
    font-size: 35px;
    padding: 10px 35px;
    border-radius: 20px;
}

.book-call .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}