.services-list .section-heading.first {
    margin-top: 0;
}

.services-list .description-wrapper {
    font-family: "Evolventa", sans-serif;
    font-size: 1.375rem;
    text-transform: uppercase;
}

.services-list .section-top p,
.services-list .section-bottom li {
    line-height: 1.6;
}

.services-list .section-top p {
    color: var(--color-pink);
    margin-bottom: 30px;
}

.services-list .section-bottom li {
    color: #EFBED4;
    margin-bottom: 30px;
    list-style-type: disc;
}

.services-list .section-bottom img {
    width: 50%;
    float: right;
    padding-left: 50px;
    padding-bottom: 50px;
}

.services-list .first-col-container {
    display: flex;
    flex-direction: column;
}

.services-list .image-1-wrapper {
    flex-grow: 0.5;
}

.first-haircut__book-call-btn{
    font-size: 2rem;
    padding: 1rem 2rem;
    display: none;
}

@media (max-width: 576px) {
    .first-haircut__book-call-btn__wrapper{
        text-align: center;
    }

    .services-list .section-bottom img {
        width: 100%;
        float: none;
        padding: 0;
    }

    .first-haircut__book-call-btn{
        display: inline-block;
        margin-bottom: 5rem;
    }

    .services-list.first-haircut .section-bottom img{
        margin-bottom: 5rem;
    }
}