.our-service .section-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
}

.our-service .photo-wrapper {
    background-color: white;
    border-radius: 20px;
    box-shadow: #E32C72 0 0 13px -3px;
    overflow: hidden;
}

.our-service .photo-wrapper img {
    width: 100%;
}

.our-service .block .title {
    font-family: var(--shantell-sans-font), cursive;
    font-size: 2rem;
    color: #FFF200;
    text-align: center;
    padding: 1.8rem 0;
    text-transform: uppercase;
}

@media (max-width: 992px) {
    .our-service .section-blocks {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
    }

    .our-service .block .title{
        padding: 1.3rem 0;
        font-size: 1.8rem;
    }
}

/*.our-service*/