a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #381B3F;
}

.site-btn {
    font-family: var(--shantell-sans-font), cursive;
    color: #381B3F;
    background-color: #FDEB03;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.site-btn:hover {
    background-color: white;
}

.section-heading {
    font-family: var(--shantell-sans-font), cursive;
    color: #FFF200;
    text-transform: uppercase;
    font-size: 2.188rem;
    text-align: center;
    margin: 70px 0;
}

.icon-shadow {
    transition: 0.3s;
}

.icon-shadow:hover {
    filter: drop-shadow(0px 0px 4px red);
}

.body-stripe-vertical {
    position: absolute;
    top: 0;
    left: 10px;
}

.input-section {
    display: grid;
}

.input-section label {
    font-family: var(--evolventa-ragular-font), sans-serif;
    font-size: 1.5rem;
    color: #EFBED4;
    margin-bottom: 10px;
}

.input-section input {
    background: none;
    border: none;
    border-bottom: solid 1px #FFF200;
    padding: 1.25rem;
    color: #EFBED4;
    font-size: 1.5rem;
    font-family: var(--evolventa-ragular-font), sans-serif;
    width: 100%;
}

.swiper-pagination-bullet{
    background: #8A4170;
    opacity: unset;
}

.swiper-pagination-bullet-active{
    background: #E32C72;
}

.swiper-button-prev, .swiper-button-next{
    color: #E32C72;
}


@media (max-width: 1400px) {
    body, html {
        font-size: 14px;
    }

    .body-stripe-vertical {
        display: none;
    }
}

@media (max-width: 1200px) {
    body, html {
        font-size: 13px;
    }
}

@media (max-width: 992px) {
    body, html {
        font-size: 12px;
    }
}